html, body, div, span, h1, p,
a, em, strong, header {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
header {
  display: block;
}

/* Theme styles */

body {
  color:#333;
  background: #fff;
  font-size: 1em;
  font-family: Helvetica, Verdana, sans-serif;
  line-height: 1.5;
}

h1 {
  font-family: Helvetica, Verdana, sans-serif;
  margin: 0;
  color: #fff;
  font-size: 5em;

}

p {
  font-size: 1.5em;
  margin: 10px 0 15px 0;
  color: #555;
}

a {
  text-decoration: none;
  color: #999;
}

a:hover {text-decoration: underline;}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

/* Full width styles */
.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 640px;
  padding: 30px 30px 30px 30px;
  margin: 0 auto;
}

#header_wrap {
  background: #800020;
}

#main_content_wrap {
  background: #fff;
}

/* Small screen styles */

@media screen and (max-width: 480px) {
  body {
    font-size: 1em;
  }
  
  .inner {
  padding: 20px 20px 20px 20px;
  }
  

  h1 {
    font-size: 5em;
  }



}




