body {
font-family: Helvetica, Verdana, sans-serif;
font-size: 1em;
text-align: left;
position: absolute;
left: 50%;
margin-left: -300px;
margin-top: 48px;
margin-bottom: 48px;
}

h1 {

font-size: 5em;
	line-height: 1;
color: #333;
text-transform: ;
font-weight: normal;

}

h1 span {

}

p {
color: #555;
font-weight: normal;
font-size: 1.2em;
line-height: 1.5;
max-width:600px;
}

a {
color: #999;
text-decoration: none;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid #ccc;
width:80%;
}

.actioncall {


}
.actioncall:hover {

}
.actioncall:active {

}

div {
  margin: 0px;
}
 
ul {
  list-style-type: none;
  max-width: 600px;
  padding: 0;
}
 
h3 {
  font: normal 1em/1.5 Helvetica, Verdana, sans-serif;
margin: 0;
color: #333;
padding: 0;
text-transform: uppercase;
}
 
li img {
  float: left;
  margin: 0 24px 0 0;
padding: 0;
height:100px;
width:100px;
}
 
li p {
  font: 200 1em/1.5 Helvetica, Verdana, sans-serif;
margin: 0;
padding: 0;
}
 
li {
  padding: 24px 0;
  overflow: auto;
}
 
li:hover {

  cursor: pointer;

}

img
{
opacity:1.0;
filter:alpha(opacity=100); /* For IE8 and earlier */
}
img:hover
{
opacity:0.8;
filter:alpha(opacity=80); /* For IE8 and earlier */

}

@media screen and (max-width: 600px) {

body {
position: absolute;
left: 0;
margin-left: 24px;
margin-right: 24px;
margin-top: 24px;
margin-bottom: 24px;
}

h1 {
font-size: 5em;
}

p {

font-size: 1.2em;
line-height: 1.5;
}
h1 span {
}

hr {
width:100%;
}

}
